<header>
    <img src="http://res.cloudinary.com/dmgd5md6c/image/upload/v1456097523/webkoding_nbnmhc.png" alt="Webkoding" id="logo">
    <h1><a href="{{site.url}}">{{site.title}}</a></h1>
    <h2 id="subtitle" class="titles">{{site.subtitle}}</h2>
    <nav>
        <ul>
            <li class="menu-item">
                <a href="#home"><img src="assets/img/icons/home.png"><span>Inicio</span></a>
            </li>
            <li class="menu-item">  
                <a href="#post"><img src="assets/img/icons/list.png"><span>Todos los post</span></a>
            </li>
            <li class="menu-item">
                <a href="#about"><img src="assets/img/icons/user-4.png"><span>Acerca de mi</span></a>
            </li>
            <li class="menu-item">
                <a href="#contact"><img src="assets/img/icons/mail-4.png"><span>Contacto</span></a>
            </li>
            <input type="text" placeholder="Buscar..." id="search-box">
        </ul>
    </nav>
</header>
