/*
    Site Header
*/

header {
    background-color: rgb(26, 26, 26);
    background-image: url('../img/icons/pattern.png');
    border-bottom: 2px solid rgb(240, 240, 240);
    color: rgb(228, 228, 228);
    display: block;
    font-family: "Clementine";
    font-weight: normal;
    padding-bottom: .3em;
    padding-top: 1em;
    text-align: center;

    img#logo {
        display: block;
        margin: 0 auto;
        width: 150px;
    }
    
    h1, h2 {
        font-weight: lighter;
        margin: 0;
    }
    h1 {
        font-size: 4em;
        a {
            text-decoration: none;
            color: white;
            &:visited {
                color: white;
            }
            &:hover {
                color: white;
                text-decoration: none;
            }
        }
    }
    
    h2 {
        font-size: 1em;
        letter-spacing: 1px;
        padding-top: .2em;
    }
    nav {
        border-top: 1px solid rgb(80, 80, 80);
        margin: 0 auto;
        margin-top: .5em;
        width: 80%;
        
        ul {
            list-style: none;
            margin-top: 0.5em;
            margin-bottom: 0px;
            
            li.menu-item, li.menu-item span {
                vertical-align: top;
            }
            
            li.menu-item {
                display: inline-block;
                font-family: 'Existence';
                margin: 0 1em;
                a {
                    color: rgb(228, 228, 228);
                    text-decoration: none;
                }
                img {
                    width: 25px;
                    margin-right: .3em;
                }
            }
            input#search-box {
                background: rgb(25,25,25) url("../img/icons/search.png") left no-repeat;
                background-size: 20px 20px;
                border: 0;
                border-radius: 3px;
                padding: .3em;
                padding-left: 25px;
                margin: 1px;
                width: 200px;
                transition: width ease-in 1s;
                color: rgb(228, 228, 228);
                letter-spacing: 1px;
                font-family: 'Opensans';
                &:focus {
                    outline: none;
                    width: 300px;
                }
            }
        }
    }
}